<body>
    <!-- Start Header -->
        <header id='header'class="sticky-top mt-4">
            <div class="container d-flex-column align-items-center">
            <div class="d-flex align-items-center justify-content-between">
                <h1 class=""><a href="#">Abdullah Muhammed</a></h1> 
                <i id='bars' type='button' class="p-2 fa-solid fa-bars-staggered" ></i>
            </div>
            <nav id="nav">
                <ul class="d-flex-column text-left">
                    <li class="pt-2  pb-4 ps-1"><a href="#">Home</a></li>
                    <li class="pt-2  pb-4 ps-1"><a href="#">About</a></li>
                    <li class="pt-2  pb-4 ps-1"><a href="#">Portfolio</a></li>
                    <li class="pt-2  pb-4 ps-1"><a href="#">Blog</a></li>
                    <li class="pt-2  pb-4 ps-1"><a href="#">Contacts</a></li>
                </ul>
            </nav>
            </div>
        </header>
<!-- End Header -->