<%- include('./Partials/head.ejs') %>
<!-- Style Sheet -->
<link rel="stylesheet" href="CSS/Landing.css">
</head>

<%- include('./Partials/header.ejs') %>
<!-- Start landing  -->
<section class="landing top">
    <div class="image">
        <img src="Assets/joshua-woroniecki-lzh3hPtJz9c-unsplash.jpg" class="img-fluid" alt="">
        <div class="card"></div>
        <div class="info text-center d-flex flex-column justify-content-center align-items-center mt-4 mt-sm-0">
            <span class="d-block landingHiddenItem">Welcome</span>
            <span class="landingHiddenItem">I'm <span>Abdullah</span> Muhammed</span>
            <span class="d-block job p-2 mt-4 landingHiddenItem">Software Engineer</sapn>
        </div>
    </div>
</section>
<!-- End landing  -->
<%- include('./Partials/end.ejs') %>